/* Base */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
}

body {
    background-color: #212121;
}

p {
    color: #e7d5aa;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.calendar {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

ul {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
}

a li {
    padding: 1.5rem;
    margin: 0.5rem;
    color: #212121;
    list-style: none;
    background: #e7d5aa;
    border-radius: 5px;
}

h1 {
    color: #e7d5aa;
    margin-bottom: 3rem;
    font-weight: 400;
    text-align: center;
    max-width: 30ch;
}

h2 {
    color: #e7d5aa;
    margin-bottom: 3rem;
    font-weight: 400;
    text-align: center;
    max-width: 30ch;
}

h1 span {
    color: #ff7500;
}

.highlight {
    background-color: #ff7500;
    color: #fff;
}

/* stappen */
.stappen {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background: #3E3D3D;
    padding: 2rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 10;
}

.stappen a {
    background-color: #3E3D3D;
    color: #e7d5aa;
    border-radius: 5px;
    padding: .75rem;
    cursor: pointer;
}

.stappen a.active {
    background-color: #ff7500;
    color: #212121;
    border-radius: 5px;
    padding: .75rem;
    cursor: pointer;
}

/* Controls */
.nextPage {
    margin-top: 2rem;
}

.controls {
    background: #3E3D3D;
    border-radius: 10px;
    padding: 3rem;
    width: 25rem;
}

.moveCtrls {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.moveCtrls p {
    background-color: #555353;
    padding: 1rem;
    text-align: center;
    color: #e7d5aa;
    border-radius: 5px;
}

.enterCtrls p {
    background-color: #555353;
    padding: 1rem;
    text-align: center;
    color: #e7d5aa;
    border-radius: 5px;
    margin-top: 1rem;
}

.moveCtrls p span {
    color: #ff7500;
}

.enterCtrls p span {
    color: #ff7500;
}

/* Popup */
.popup {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popupContent {
    max-width: 20rem;
    background-color: #ff7500;
    padding: 3rem;
}

.btnGroup {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.btnGroup button {
    background: #e7d5aa;
    border: none;
    padding: .5rem;
    margin-top: 1rem;
    cursor: pointer;
    width: 100%;
}

.btnGroup button:nth-child(1) {
    margin-right: 1rem;
}

.btnGroup button:nth-child(2) {
    margin-left: 1rem;
}

.popup.show {
    opacity: 1;
}

/* time */
#time h1 {
    margin-bottom: 1rem;
}

#time p:nth-of-type(1) {
    margin-bottom: 3rem;
}

.time {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* station */
#station h1 {
    margin-bottom: 1rem;
    max-width: 100%;
}

#station p:nth-of-type(1) {
    margin-bottom: 3rem;
}

.station {
    position: relative;
    z-index: 999;
}


.vertrek {
    background: #3E3D3D;
    border-radius: 10px;
    margin-bottom: 2rem;
    padding: 3rem;
    width: 25rem;
}

.aankomst {
    background: #3E3D3D;
    border-radius: 10px;
    padding: 3rem;
    width: 25rem;
}

.vertrek h3 {
    color: #e7d5aa;
    font-weight: 400;
}

.aankomst h3 {
    color: #e7d5aa;
    font-weight: 400;
}

input {
    background: #555353;
    color: #c5b694;
    border: none;
    padding: 1rem;
    margin-top: 1rem;
}

:-ms-input-placeholder {
    color: #3E3D3D;
}

/* Planning */
#planning h1 {
    margin-bottom: 1rem;
    max-width: 100%;
}

#planning p:nth-of-type(1) {
    margin-bottom: 3rem;
}

.planning {
    position: relative;
    z-index: 999;
}

table {
    background-color: #3E3D3D;
    padding: 2rem;
    border-radius: 10px;
}

table td,
tr {
    background-color: #555353;
    color: #e7d5aa;
    padding: 2rem;
    border-radius: 5px;
}

table th {
    background-color: #363636;
    color: #e7d5aa;
    padding: 2rem;
    border-radius: 5px;
}